@import "variables.scss";

#globalHeaderModal {
  margin-top: -30rem !important;
}

.global-header-modal-header__div {
  padding: 1rem !important;
  background-color: $mockitup-segment-title-background-color !important;
  color: #FFF !important;
  text-align: center !important;
}

.global-header-modal-content__div {
  padding: 1rem !important;
  background-color: $mockitup-segment-content-background-color !important;
  text-align: center !important;
}

.global-header-modal__input {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid grey !important;
}

.global-header-modal-pre-existing__input {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid grey !important;
  width: 80% !important;
}

.global-header-modal-trash__icon {
  top: 0.5rem !important;
  position: relative !important;;
  cursor: pointer;
  color: $mockitup-red-color !important;
  &:hover {
    color: $mockitup-blue-color !important;
  }
}

.global-header-modal-custom-height {
  height: 3rem !important;
}