$mockitup-background-color: #5A626E;

$mockitup-segment-title-background-color: #363C51;

$mockitup-segment-title-text-color: #7F8697;

$mockitup-segment-title-border-bottom-color: #4A5162;

$mockitup-segment-hr-color: #474C5E;

$mockitup-segment-content-background-color: #292E40;

$mockitup-sub-header-grey-color: #BEBFC1;

$mockitup-blue-color: #1A99F3;

$mockitup-white-color: #FAFAFA;

$mockitup-green-color: #1AB04D;

$mockitup-red-color: #FC443D;

$mockitup-light-grey: #555C6F;

$white: #FFF;

$purple: #C584FC;